################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
**/video
*.cd
*.generated.cs
*.su
*.suo
*.user
/*/appsettings.Development.json
/*/appsettings.json
/*/Properties/launchSettings.json
/*/bin
/*/obj
/*/wwwroot/.cache
/*/wwwroot/img
/*/wwwroot/node_modules
/.idea*
/.vs*
/10-YClientsApi/src/YClients/YClientsApiSettingsMore.cs
/21-Adminco/wwwroot/admin/cssb
/21-Adminco/wwwroot/admin/jsb
/22-Tcmir/Data
/22-Tcmir/wwwroot/admin
/22-Tcmir/wwwroot/static
/22-Tcmir/wwwroot/tcmir/cssb
/22-Tcmir/wwwroot/tcmir/jsb
/23-Btl/Data
/23-Btl/wwwroot/admin
/23-Btl/wwwroot/static
/23-Btl/wwwroot/btl/cssb
/23-Btl/wwwroot/btl/jsb
/23-Btl/src/BtlLayout/node_modules
/23-Btl/src/BtlLayout/build
/24-BtlImage/Data
/24-BtlImage/src/xHtml/node_modules
/24-BtlImage/src/xHtml/build
/24-BtlImage/src/xHtml/src/assets/video
/24-BtlImage/wwwroot/admin
/24-BtlImage/wwwroot/static
/24-BtlImage/wwwroot/btlimage/cssb
/24-BtlImage/wwwroot/btlimage/jsb
/25-BtlClinic/Data
/25-BtlClinic/src/xHtml/node_modules
/25-BtlClinic/src/xHtml/build
/25-BtlClinic/src/xHtml/src/assets/video
/25-BtlClinic/wwwroot/admin
/25-BtlClinic/wwwroot/static
/25-BtlClinic/wwwroot/btlclinic/cssb
/25-BtlClinic/wwwroot/btlclinic/jsb
/30-Test/wwwroot/admin
/30-Test/wwwroot/static
/32-KnTestAdm/wwwroot/admin
/32-KnTestAdm/wwwroot/static
/fstick.json
/pub*
/25-BtlClinic/src/AEdev/node_modules
/25-BtlClinic/src/AEdev/build
