################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SiteStore/appsettings.json
/.vs
/SiteStore/bin/Debug/net6.0
/SiteStore/obj
/SiteStore/Properties
*.user
/SiteStore/appsettings.Development.json
